# Android Studio and IntelliJ
/.idea/
/*.iml

# Gradle
/.gradle/
/build/
/app/build/

# Local configuration
/local.properties

# App outputs
*.apk
*.aab

# Native builds
/.externalNativeBuild
/.cxx/

# macOS
.DS_Store

# Captures
/captures/